//Brand
$background-color: #ffffff;
$primary-color: #400aff;
$secondary-color: #bada55;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
